main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__wrapper > video {
    flex: 1;
}